body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Eczar',serif;
  scroll-behavior: smooth;
  color: #333;
  background-color: #fefefe;
}

header {
  text-align: center;
  background-color: #222;
}
header div {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
header div nav {
  width: 70%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header span {
  color: #fefefe;
  letter-spacing: 2px;
}
header a {
  color: mediumspringgreen;
  letter-spacing: 2px;
  text-decoration-color: mediumspringgreen;
}

main {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  overflow-x: scroll;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-size: 36px;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid #aaa;
}

h3 {
  font-weight: 500;
}

h2,
h3 {
  margin-top: 50px;
  padding-bottom: 4px;
}

a {
  color: #555;
  text-decoration-color: #555;
}

blockquote {
  font-style: italic;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border-top: 1px solid #c6cbd1;
}
table thead tr,
table td,
table th {
  border: 1px solid #222;
  padding: 6px 13px;
}

table tr.header {
  background-color: mediumspringgreen;
}
table tr.odd {
  background-color: lightcyan;
}
table tr.even {
  background-color: aliceblue;
}

ul {
  list-style-type: none;

}
ul li {
  position: relative;
  line-height: 30px;
}
ul li::before {
  content: "\271C";
  color: #888;
  font-size: .875em;
  top: .025em;
  left: -1.375em;
  position: absolute;
}
ul li p {
  margin: 0;
}
nav#file ul li::before {
  content: url(/icons/file.svg);
  top: .2em;
  left: -2em;
}
nav#dir li::before {
  content: url(/icons/folder.svg);
  top: .2em;
  left: -2em;
}

img {
  max-width: 100%;
}

figcaption {
  font-style: italic;
}

@media print {
  body {
    max-width: none;
  }
}

@media (max-width: 768px) {
  main {
    padding: 10px;
  }
  header div {
    padding: 20px 10px;
  }
  .mobile-hide {
    display: none;
  }
}
