body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  padding:0 10px;
  background-color: #eee;
  color: #444;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

h1 {
  padding-left: 10px;
  border-left: 5px solid tomato;
}

a {
  color: #222;
  text-decoration-color: #222;
}

a:hover {
  text-decoration-color: tomato;
}

img {
  max-width: 40em;
}

blockquote {
  font-style: italic;
}

pre {
  overflow-x: scroll;
  padding: 15px;
  background-color: #4d4d4d;
  border-left: 5px solid #222;
}

code {
  padding: 1px 3px;
  font-size: 16px;
  background-color: #4d4d4d;
  color: #f2f2f2;
}

table {
  margin: 1em 0;
  border-collapse: collapse;
  border-spacing: 0;
}

table thead th {
  background-color: #3b3b3b;
}

table tr {
  border-top: 1px solid #c6cbd1;
  background-color: #4d4d4d;
}

table tr:nth-child(2n) {
  background-color: #3b3b3b;
}

table td,
table th {
  border: 1px solid #222;
  padding: 6px 13px;
}

table th,
table td {
  color: #f2f2f2;
}

table td code {
  background-color: transparent;
}

li p {
  margin: 0;
}

@media print {
  body {
    max-width: none;
  }
}
